{{- $private := false  -}}
{{- if stat (joinPath .chezmoi.homeDir ".config/chezmoi.age") -}}
{{-   $private = true  -}}
{{- end -}}

{{- $email := " " -}}
{{- $name := "Victor Chu" -}}

{{- if $private -}}
{{-   if stdinIsATTY -}}
{{-     $email = promptString "email" -}}
{{-     $name = promptString "name" "Victor Chu" -}}
{{-   end -}}

encryption = "age"
[age]
  identity = "~/.config/chezmoi.age"
  recipient = "age1myfxv62zvx85n04v755glrxyz5gckjxn0w9shd5m70s03wtcd43qf0mqcl"

[edit]
  watch = true

[git]
  autoadd = true
  autoCommit = false
  autopush = false
{{- end }}

[data]
  private = {{ $private }}
  email = "{{ $email }}"
  name = "{{ $name }}"
