{{- $private := false -}}
{{- if stdinIsATTY -}}
{{-   $private = promptBool "is this a PRIVATE host or server" -}}
{{- end -}}

{{- $email := "" -}}
{{- $name := "" -}}

{{- if $private -}}
{{-   $email = promptString "email" -}}
{{-   $name = promptString "name" -}}
{{- end -}}

data:
  private: {{ $private }}
  email: "{{ $email }}"
  name: "{{ $name }}"