{{- $private := false  -}}
{{- if or (stat (joinPath .chezmoi.homeDir ".config/chezmoi/chezmoi.age")) (stat (joinPath .chezmoi.homeDir "chezmoi.age")) -}}
{{-   $private = true  -}}
{{- end -}}

{{- $email := (get . "email") | default " " -}}
{{- $name  := (get . "name")  | default "Victor Chu" -}}

{{-   if stdinIsATTY -}}
{{-     $email = promptString "email" $email -}}
{{-     $name = promptString "name" $name -}}
{{-   end -}}

{{- if $private -}}
encryption = "age"
[age]
  identity = "~/.config/chezmoi/chezmoi.age"
  recipient = "age1myfxv62zvx85n04v755glrxyz5gckjxn0w9shd5m70s03wtcd43qf0mqcl"
{{- end }}

umask = 0o22

[edit]
  watch = true

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[git]
  autoadd = true
  autoCommit = false
  autopush = false

[data]
  private = {{ $private }}
  email = "{{ $email }}"
  name = "{{ $name }}"

