[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    editor = vim
    autocrlf = input
[credential]
    {{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
    {{- end }}
[diff]
    {{- if eq .chezmoi.os "darwin" }}
    tool = opendiff
    {{- end }}
    colorMoved = zebra
[merge]
    {{- if eq .chezmoi.os "darwin" }}
    tool = opendiff
    {{- end }}
[difftool]
    prompt = false
[alias]
    branches = "!git --no-pager branch -vv"
    branch-cleanup = "!git branch --merged | grep -v main | xargs git branch -d"
    branch-rm = "!f() { \
                    case \"$1\" in main|master) echo 'Refusing to delete protected branch'; exit 1;; esac; \
                    git branch -d \"$1\" && \
                    git push origin --delete \"$1\"; \
                  }; f"
    fetchall = "!git fetch --all --tags --prune"
    logs = "!git log --decorate --oneline --graph --date-order --pretty='format:%C(auto)%h %d %s [%an]'"
    info = remote show origin
    tags = "!git --no-pager tag -l --sort=-creatordate --format='%(refname:short)  %(creatordate:short)  %(subject)'"
    unstage = restore --staged
    stat = status -uno
[fetch]
    prune = true
    tags = true
[pull]
    rebase = true
[http]
    postBuffer = 524288000
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[includeIf "gitdir:/Users/chu/dev/altuera/"]
    path = /Users/chu/dev/altuera/.gitconfig
#[remote "origin"]
#    fetch = +refs/tags/*:refs/tags/*
