term = "xterm-256color"

font-family = "MesloLGS Nerd Font"
#font-family = "Menlo"
#adjust-cell-height = 2
font-size = 11.0
font-thicken = true

window-padding-x = 5,0
window-padding-y = 2
window-height = 36
window-width = 136
window-inherit-working-directory = true

background-opacity = 0.90
unfocused-split-opacity = 0.70
#split-divider-color = 777777

clipboard-trim-trailing-spaces = true

macos-option-as-alt = true
macos-icon = glass

#keybind = global:cmd+grave_accent=toggle_quick_terminal
#keybind = global:cmd+§=toggle_quick_terminal
keybind = global:cmd+option+space=toggle_quick_terminal
keybind = cmd+c=copy_to_clipboard:mixed
keybind = cmd+v=paste_from_clipboard
quick-terminal-position = right
quick-terminal-size = 50%,60%

# theme
{{- if stat (joinPath .chezmoi.homeDir ".config/ghostty/themes/dankcolors") }}
theme = dankcolors
{{- else }}
theme = Catppuccin Macchiato
{{- end }}
#background = #090909

# cursor options
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor
# selection
selection-foreground = cell-foreground
